[Unit]
Description=anekad
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=anekad
Group=anekad
PermissionsStartOnly=true
ExecStart=/usr/bin/anekad start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

